 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 
 :root {
    /* Colors */
    --dark-blue: hsl(223, 87%, 63%);
    --light-blue: hsl(223, 100%, 88%);
    --red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --black-blue: hsl(209, 33%, 12%);

    /* Typography */
    --body-font: 20px;
    --font-fam: "Libre Franklin", "Arial", sans-serif;
    --sm-weight: 300;
    --md-weight: 600;
    --lg-weight: 700;
 }
 
 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-fam);
    font-size: var(--body-font);
 }

 main img {
    width: 50%;
 }
 
 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }